<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geomin.mapper.HelloMapper">
	<select id="getList" resultType="com.geomin.VO.HelloVO">
		select 
			pkgName, Personnel, fixedPrice, finalPrice, difficulty, pkgContent  
		from 
			package
		
	</select>

</mapper>