<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geomin.mapper.HelloMapper">
	<select id="getList" resultType="com.geomin.vo.HelloVO">
		select 
			pkgID, pkgName, difficulty, Personnel, fixedPrice, discountRate, finalPrice, pkgContent  
		from 
			package
				
		<!-- select 
			p.pkgID, p.pkgName, p.difficulty, p.Personnel, p.fixedPrice, p.discountRate, p.finalPrice, p.pkgContent, d.subsPrice  
		from 
			package p
		join
			pkgSubsDetail d
		on		
			p.pkgID = d.pkgID -->
		
		<!-- select * from package -->		
		
	</select>
  
</mapper>