<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.geomin.mapper.homeworkMapper">
  
  	<select id='homeworkGroupList' resultType='com.geomin.VO.homeworkVO'>
   		SELECT
		   *
		FROM
		    study_group
		where memberid = #{memberid}
    </select>
    
    
   	<select id='studentSelect' resultType='com.geomin.VO.homeworkVO'>
				select * 
	from (	select homework.*,rownum rn 
        from (
				SELECT
		    g.sname,
		    m.memail,
		    m.mphone,
		    m.mbirthdate,
            FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(m.mbirthdate)) / 12) AS age,
            g.studentid,  
            g.pkgid,          
		    g.groupid
		FROM
		    groupStudent g
		JOIN
		    member m ON g.studentid = m.memberid
		where g.GROUPJOINSTATUS = 'Y'
			) homework where groupid = #{groupid} <include refid="criteria"/>
		) where rn between #{startNo} and #{endNo} 
  	</select>
  	
  	<select id="totalCnt" resultType="int">
 		select count(*) FROM (SELECT
		    g.sname,
		    m.memail,
		    m.mphone,
		    m.mbirthdate,
            FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(m.mbirthdate)) / 12) AS age,
		    g.groupid
		FROM
		    groupStudent g
		JOIN
		    member m ON g.studentid = m.memberid) where groupid = #{groupid} <include refid="criteria"/>
 	</select>
  	
  	<update id="homeworkUpdate">
  		insert into homework(homeworkno,studentid,groupid,pkgid,memberid,deadlinedate,homeworkcont)
		values (#{groupid}||'_'||HOMEWORK_SEQ.nextval,#{studentid},#{groupid},#{pkgid},#{memberid},(TRUNC(sysdate) + INTERVAL '8' HOUR)+#{day},#{homeworkcont})
  	</update>
  	
  	<select id='studentHomeworkList' resultType='com.geomin.VO.homeworkVO'>
   		select h.*,pkgname ,mname
			from homework h 
			join package p on h.pkgid = p.pkgid 
			join member m on m.memberid = h.memberid  
   			where studentid = #{studentid}
    </select>
  	
  	<update id="studentHomework">
  		UPDATE homework SET submitdate = sysdate, studycont = #{studycont}
		where homeworkno = #{homeworkno} 
  	</update>
  	
  	<sql id="criteria">
 	 	<choose>
 	 		<when test="searchField == 'age'">
 	 			and age like '%'||#{searchWord}||'%'
 	 		</when>
 	 		<when test="searchField == 'sname'">
 	 			and sname like '%'||#{searchWord}||'%'
 	 		</when>
 	 		
 	 	</choose>
 	 </sql>
  </mapper>
  