<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.geomin.mapper.ManagerMapper">
	<insert id="packageInsert">
		insert into package (pkgid, pkgname, difficulty, personnel , fixedprice, discountrate, finalprice, pkgcontent)
		values (LPAD(PACKAGE_SQL.nextval, 4, '0'), #{pkgname}, #{difficulty}, #{personnel}, #{fixedprice}, #{discountrate}, #{finalprice}, #{pkgcontent})
	</insert>
	
	<select id="packageList" resultType="com.geomin.VO.packageVO">
	select * 
	from (	select package.*,rownum rn 
        from (
				select *
				from package
				order by pkgid
			) package where 1 = 1 <include refid="criteria"/>
		) where rn between #{startNo} and #{endNo}
	</select>
	
	<sql id="criteria">
 	 	<choose>
 	 		<when test="searchField == 'pkgname'">
 	 			and pkgname like '%'||#{searchWord}||'%'
 	 		</when>
 	 		<when test="searchField == 'author'">
 	 			and pkgcontent like '%'||#{pkgcontent}||'%'
 	 		</when>
 	 		<when test="searchField  == 'content'">
 	 			and difficulty like '%'||#{difficulty}||'%'
 	 		</when>
 	 	</choose>
 	 </sql>
  </mapper>