<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.geomin.mapper.ManagerMapper">
	<insert id="packageInsert">
		insert into package (pkgid, pkgname, difficulty, personnel , fixedprice, discountrate, finalprice, pkgcontent)
		values (LPAD(PACKAGE_SEQ.nextval, 4, '0'), #{pkgname}, #{difficulty}, #{personnel}, #{fixedprice}, #{discountrate}, #{finalprice}, #{pkgcontent})
	</insert>
	
	<select id="packageList" resultType="com.geomin.VO.packageVO">
	select * 
	from (	select package.*,rownum rn 
        from (
				select *
				from package
				order by pkgid DESC 
			) package where 1 = 1 <include refid="criteria"/>
		) where rn between #{startNo} and #{endNo}
	</select>
	
	<select id="getOnePack" resultType="com.geomin.VO.packageVO">
		select * from package WHERE TRIM(LEADING '0' FROM pkgid) = #{pkgid}
	</select>
	
	<select id="totalCnt" resultType="int">
 		select count(*) from package where 1 = 1 <include refid="criteria"/>
 	</select>
	
	<update id="packDeleteUpdate">
 	 	UPDATE Package
		SET elimination = CASE
		    WHEN elimination = 'Y' THEN 'N'
		    WHEN elimination = 'N' THEN 'Y'
		    ELSE elimination
		END
		WHERE TRIM(LEADING '0' FROM pkgid) = #{pkgid}
 	 </update>
	
	<update id="packUpdate">
 	 	UPDATE PACKAGE
		SET pkgname = #{pkgname}, difficulty = #{difficulty}, personnel = #{personnel}, fixedprice = #{fixedprice},
		discountrate = #{discountrate},finalprice = #{finalprice},pkgcontent = #{pkgcontent}
		WHERE LTRIM(pkgid, '0') = #{pkgid}
 	 </update>
	
	<sql id="criteria">
 	 	<choose>
 	 		<when test="searchField == 'pkgname'">
 	 			and pkgname like '%'||#{searchWord}||'%'
 	 		</when>
 	 		<when test="searchField == 'pkgcontent'">
 	 			and pkgcontent like '%'||#{searchWord}||'%'
 	 		</when>
 	 		<when test="searchField  == 'difficulty'">
 	 			and difficulty like '%'||#{searchWord}||'%'
 	 		</when>
 	 	</choose>
 	 </sql>
  </mapper>