<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geomin.mapper.PackagepriceMapper">

	<select id="yearPrice" resultType="com.geomin.VO.PackagepriceVO">
		<![CDATA[
		SELECT years.year, COALESCE(p.count_transaction, 0) transactioncnt, COALESCE(p.sum_sales, 0) DATETOTALSALES
		FROM (
		    SELECT EXTRACT(YEAR FROM CURRENT_DATE) - LEVEL + 1 year
		    FROM dual
		    CONNECT BY LEVEL <= 10
		) years
		LEFT JOIN (
		    SELECT EXTRACT(YEAR FROM SALESDATE) year, SUM(TRANSACTIONCNT) count_transaction, SUM(DATETOTALSALES) sum_sales
		    FROM PACKAGEPRICE
		    GROUP BY EXTRACT(YEAR FROM SALESDATE)
		) p ON years.year = p.year
		ORDER BY years.year 	
		]]>
		
	</select>
	
	<select id="monthPrice" resultType="com.geomin.VO.PackagepriceVO">
	
		SELECT 
		    months.month,
		    COALESCE(p.count_transaction, 0) AS transactioncnt,
		    COALESCE(p.sum_sales, 0) AS DATETOTALSALES
		FROM (
		    SELECT 1 AS month from dual UNION ALL
		    SELECT 2 from dual UNION ALL
		    SELECT 3 from dual UNION ALL
		    SELECT 4 from dual UNION ALL
		    SELECT 5 from dual UNION ALL
		    SELECT 6 from dual UNION ALL
		    SELECT 7 from dual UNION ALL
		    SELECT 8 from dual UNION ALL
		    SELECT 9 from dual UNION ALL
		    SELECT 10 from dual UNION ALL
		    SELECT 11 from dual UNION ALL
		    SELECT 12 from dual
		) months
		LEFT JOIN (
		    SELECT 
		        EXTRACT(month FROM SALESDATE) AS month, 
		        SUM(TO_NUMBER(TRANSACTIONCNT)) AS count_transaction, 
		        SUM(TO_NUMBER(DATETOTALSALES)) AS sum_sales  
		    FROM PACKAGEPRICE
		    WHERE EXTRACT(YEAR FROM SALESDATE) = #{year}
		    GROUP BY EXTRACT(month FROM SALESDATE) 
		) p ON months.month = p.month
		ORDER BY months.month
		
	</select>
	
	<select id="dayPrice" resultType="com.geomin.VO.PackagepriceVO">
	<![CDATA[
		SELECT EXTRACT(day FROM b.dt)    AS day, 
       NVL(sum(a.TRANSACTIONCNT), 0) AS TRANSACTIONCNT, 
       NVL(sum(a.DATETOTALSALES), 0) AS DATETOTALSALES
		FROM (
		    SELECT SALESDATE as hiredate,
		       sum(TRANSACTIONCNT) as TRANSACTIONCNT, sum(DATETOTALSALES) as DATETOTALSALES
		FROM PACKAGEPRICE
		WHERE SALESDATE BETWEEN TO_DATE(#{day2}, 'YYYY-MM-DD')
		                   AND TO_DATE(#{day1}, 'YYYY-MM-DD')
		GROUP BY SALESDATE
		
		) a
		RIGHT JOIN (
		    SELECT TO_DATE(#{day2}, 'YYYY-MM-DD') + LEVEL - 1 AS dt
		    FROM dual 
		    CONNECT BY LEVEL <= (TO_DATE(#{day1}, 'YYYY-MM-DD') - TO_DATE(#{day2}, 'YYYY-MM-DD') + 1)
		) b ON b.dt = a.hiredate
		GROUP BY b.dt
		ORDER BY b.dt
		]]>
	</select>
	
		
	<select id="priceList" resultType="com.geomin.VO.PackagepriceVO">
		SELECT *
FROM (
    SELECT
        pkgid AS pkgid,
        pkgname,
        salesdate,
        transactioncnt,
        datetotalsales,
        ROWNUM AS rn
    FROM (
        SELECT
            PACKAGE.PKGID AS pkgid,
            pkgname,
            TO_char(salesdate, 'YYYY-MM-DD') AS salesdate,
            SUM(transactioncnt) AS transactioncnt,
            SUM(datetotalsales) AS datetotalsales
        FROM
            PACKAGEPRICE
        JOIN PACKAGE ON (PACKAGEPRICE.PKGID = PACKAGE.PKGID)
        GROUP BY
            PACKAGE.PKGID,
            pkgname,
            TO_char(salesdate, 'YYYY-MM-DD')
        ORDER BY
            salesdate DESC
    ) package <include refid="criteria"/>
) where rn between #{startNo} and #{endNo}
	</select>
	
	<select id="totalCnt" resultType="int">
 		select count(*) from (
					SELECT  PACKAGEPRICE.pkgid as pkgid,pkgname,salesdate,transactioncnt,datetotalsales
	                FROM    PACKAGEPRICE
	                JOIN PACKAGE ON (PACKAGEPRICE.PKGID = PACKAGE.PKGID)
	                order by salesdate desc
				) <include refid="criteria"/>
 	</select>
 	
 	<select id="totalChart" resultType="com.geomin.VO.PackagepriceVO">
 		SELECT sum(TRANSACTIONCNT) as TRANSACTIONCNT, sum(DATETOTALSALES) as DATETOTALSALES
		    FROM PACKAGEPRICE
 	</select>
 	
 	<select id="yearChart" resultType="com.geomin.VO.PackagepriceVO">
 			SELECT EXTRACT(YEAR FROM SALESDATE) year, sum(TRANSACTIONCNT) TRANSACTIONCNT, SUM(DATETOTALSALES) DATETOTALSALES
		    FROM PACKAGEPRICE
            where EXTRACT(YEAR FROM SALESDATE) = #{year}
		    GROUP BY EXTRACT(YEAR FROM SALESDATE) ORDER BY year
 	</select>
 	
 	<select id="dayChart" resultType="com.geomin.VO.PackagepriceVO">
 		SELECT EXTRACT(month FROM SALESDATE) month, sum(TRANSACTIONCNT) TRANSACTIONCNT, SUM(DATETOTALSALES) DATETOTALSALES
		    FROM PACKAGEPRICE
            where EXTRACT(YEAR FROM SALESDATE) = #{year} and EXTRACT(month FROM SALESDATE) = #{month}
		    GROUP BY EXTRACT(YEAR FROM SALESDATE) ,
            EXTRACT(month FROM SALESDATE)
            ORDER BY month
 	</select>
	
	<sql id="criteria">
 	 	<choose>
 	 		<when test="searchField == 'pkgid'">
 	 			where pkgid like '%'||#{searchWord}||'%'
 	 		</when>
 	 		<when test="searchField == 'pkgname'">
 	 			where pkgname like '%'||#{searchWord}||'%'
 	 		</when>
 	 	</choose>
 	 </sql>
</mapper>