<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.geomin.mapper.studentMapper">
  
  	<select id='groupList' resultType='com.geomin.VO.packageVO'>
			SELECT p.pkgName, p.difficulty, p.pkgcontent, m.mname,
			       s.curpersonnel || '명' || '/' || s.personnel || '명' AS person,
			       g.groupid,
			       TO_CHAR(TO_DATE('20' || g.studyStartDate), 'YYYY-MM-DD') || ' ~ ' ||
			       TO_CHAR(TO_DATE('20' || g.studyEndDate), 'YYYY-MM-DD') AS period
			FROM package p
			JOIN pkgsubsDetail s ON p.pkgid = s.pkgid
			JOIN study_group g ON s.pkgid = g.pkgid
			JOIN member m ON m.memberid = s.memberid
  	</select>
  

  	  	<select id='groupOne' resultType='com.geomin.VO.packageVO'>
  		SELECT p.pkgid,p.pkgName, p.difficulty, p.pkgcontent, m.mname, g.memberid,
			       s.curpersonnel || '명' || '/' || s.personnel || '명' AS person,
			       g.groupid,
			       TO_CHAR(TO_DATE('20' || g.studyStartDate), 'YYYY-MM-DD') || ' ~ ' ||
			       TO_CHAR(TO_DATE('20' || g.studyEndDate), 'YYYY-MM-DD') AS period
			FROM package p
			JOIN pkgsubsDetail s ON p.pkgid = s.pkgid
			JOIN study_group g ON s.pkgid = g.pkgid
			JOIN member m ON m.memberid = s.memberid
			where g.groupid = #{groupid} 
  	</select>
  	
  	
  	<insert id='groupjoin'>
  		insert into groupstudent (studentid,groupid,pkgid,memberid,sname,groupresdate,groupjoinstatus) 
  							values(#{studentid}, #{groupid}, #{pkgid} , #{memberid}, #{sname}, sysdate, 'N')
  	</insert>
  
  </mapper>