<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geomin.mapper.teacherMapper">
  	
  	<select id='contentList' resultType='com.geomin.VO.packageVO'>
		select groupid from study_group where memberid = #{memberid}
  	</select>
  	
  	
  	 <select id='contentOne' resultType='com.geomin.VO.memberVO'>
  		   
  	</select>


	<update id="updateJoinStatus" parameterType="java.util.List">
	    UPDATE groupstudent
	    SET groupjoinstatus = CASE 
	                            WHEN groupjoinstatus = 'Y' THEN 'N'
	                            WHEN groupjoinstatus = 'N' THEN 'Y'
	                            ELSE groupjoinstatus
	                        END
	    WHERE memberid IN
	   <foreach collection="list" item="list" open="(" separator="," close=")">
        	#{list.memberid}
       </foreach>
    	AND sname IN
    	<foreach collection="list" item="list" open="(" separator="," close=")">
        	#{list.sname}
    	</foreach>
	</update>
	
	
	
	<!-- <update id="updateJoinStatus" parameterType="java.util.List">
		<foreach collection="list" item="list">
	    UPDATE groupstudent
	    SET groupjoinstatus = CASE 
	                            WHEN groupjoinstatus = 'Y' THEN 'N'
	                            WHEN groupjoinstatus = 'N' THEN 'Y'
	                            ELSE groupjoinstatus
	                        END
	    WHERE memberid = #{list.memberid} AND sname = #{list.sname}
    	</foreach>
	</update> -->
	
	
	<select id='getSubGroup' resultType="com.geomin.VO.contentVO">
		SELECT
    		P.pkgId,
    		p.pkgName,
    		m.memberID,
    		d.subsDate,
    		p.finalPrice,
    		p.difficulty,
    		p.PERSONNEL,
    		p.pkgContent,
    		NVL2(g.groupID, g.groupID, 'NOT GROUP') AS groupID
		FROM 
    		package p
		JOIN
    		PKGSUBSDETAIL D
		ON  
    		P.pkgId = D.pkgId
		JOIN
    		member m
		ON 
    		D.memberID = m.memberID
		LEFT JOIN
    		study_group g
		ON
    		D.pkgId = g.pkgId
		WHERE 
    		p.elimination = 'N' AND m.mType = 'T' AND m.memberID = 'memberID22'
	</select>
	
	<!-- //★그룹아이디 중복처리 -->
<!-- 	<select id="checkGroupid"  resultType="int">
		SELECT
			COUNT(groupid)
		FROM
			STUDY_GROUP
		where 
			groupid = #{groupid}
	</select> -->
	
	
	<insert id="regStudyGroup" parameterType="java.util.List">
		<foreach collection="list" item="list"><!--  separator=";" -->
    		INSERT INTO STUDY_GROUP(GROUPID, PKGID, MEMBERID, GROUPMEM, STUDYSTARTDATE, STUDYENDDATE)
    		VALUES (#{list.groupid}, #{list.pkgId}, 'memberID22', 0, #{list.studyStartDate}, #{list.studyEndDate})
    	</foreach>
	</insert>
	
	
</mapper>