<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geomin.mapper.teacherMapper">
  	
  	<select id='contentList' resultType='com.geomin.VO.packageVO'>
		select groupid from study_group where memberid = #{memberid}
  	</select>
  	
  	
  	 <select id='contentOne' resultType='com.geomin.VO.memberVO'>
  			select m.memberid, m.mname, m.mphone
            , TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(mbirthdate, 'YYYY-MM-DD')) / 12) AS mbirthdate
            , g.pkgid
            , g.groupjoinstatus, TO_char(g.groupresdate, 'YYYY-MM-DD') as groupresdate
            ,(select count(*) from groupStudent g where g.groupid = #{groupid} and GROUPJOINSTATUS = 'Y') || '명' || '/' || s.groupMem || '명' AS person
            from groupStudent g 
            join member m on g.studentid = m.memberid 
            JOIN study_group s ON g.pkgid = s.pkgid
  			where g.groupid = #{groupid}
  	 </select>
	
	<select id='groupjoinstatusOne' resultType='com.geomin.VO.groupstudentVO'>
  			select * from groupStudent  where studentid = #{studentid} and groupid = #{groupid}
  	 </select>
	
	<select id='totalGroupStu' resultType='int'>
		select count(*) from groupStudent g where g.groupid = #{groupid} and GROUPJOINSTATUS = 'Y'
  	</select>
	
	<select id='totalgroupmem' resultType='int'>
		select groupmem from study_group where groupid = #{groupid}
  	</select>
	
	<update id="curpersonnelUP">
		UPDATE pkgsubsdetail
		SET curpersonnel = curpersonnel + 1
		WHERE pkgid = #{pkgid}
	</update>
	
	<update id="curpersonnelDown">
		UPDATE pkgsubsdetail
		SET curpersonnel = curpersonnel - 1
		WHERE pkgid = #{pkgid}
	</update>
	
	<update id="updateJoinStatus">
	    UPDATE groupstudent
	    SET groupjoinstatus = CASE 
	                            WHEN groupjoinstatus = 'Y' THEN 'N'
	                            WHEN groupjoinstatus = 'N' THEN 'Y'
	                            ELSE groupjoinstatus
	                          END
	    WHERE studentid = #{studentid} and groupid = #{groupid}
	</update>
	
	
	
	<!-- <update id="updateJoinStatus" parameterType="java.util.List">
		<foreach collection="list" item="list">
	    UPDATE groupstudent
	    SET groupjoinstatus = CASE 
	                            WHEN groupjoinstatus = 'Y' THEN 'N'
	                            WHEN groupjoinstatus = 'N' THEN 'Y'
	                            ELSE groupjoinstatus
	                        END
	    WHERE memberid = #{list.memberid} AND sname = #{list.sname}
    	</foreach>
	</update> -->
	
	
	<select id='getSubGroup' resultType="com.geomin.VO.contentVO">
	SELECT *
FROM (
		SELECT
    		P.pkgId,
    		p.pkgName,
    		d.memberID,
    		d.subsDate,
    		d.curGroup,
    		p.finalPrice,
    		p.difficulty,
    		p.personnel,
    		p.pkgContent,
    		NVL2(g.groupID, g.groupID, 'NOT GROUP') AS groupID,
    		 (
            SELECT COALESCE(SUM(groupMem), 0)
            FROM study_group
            WHERE pkgId = P.pkgId
        ) AS totalgroupMem,
        (p.personnel - (
            SELECT COALESCE(SUM(groupMem), 0)
            FROM study_group
            WHERE pkgId = P.pkgId
        )) AS possiblegroupMem
		FROM 
    		package p
		JOIN
    		PKGSUBSDETAIL D
		ON  
    		P.pkgId = D.pkgId
		JOIN
    		member m
		ON 
    		D.memberID = m.memberID
		LEFT JOIN
    		study_group g
		ON
    		D.pkgId = g.pkgId
		WHERE 
    		p.elimination = 'N' AND m.mType = 'T' AND d.memberID = #{memberID} and p.pkgName = #{pkgName}
    		)
WHERE ROWNUM = 1<!-- and p.pkgName = #{pkgName} -->

	</select>
	
	<select id="checkGroupid"  resultType="int">
		SELECT
			COUNT(groupid)
		FROM
			STUDY_GROUP
		where 
			groupid = #{groupid}
	</select>
	
	<insert id="regStudyGroup" parameterType="java.util.List" >
		<foreach collection="list" item="list"><!--  separator=";" -->
    		INSERT INTO STUDY_GROUP(GROUPID, PKGID, MEMBERID, GROUPMEM, STUDYSTARTDATE, STUDYENDDATE)
    		VALUES (#{list.groupid}, #{list.pkgId}, #{list.memberID}, #{list.groupMem}, #{list.studyStartDate}, #{list.studyEndDate})
    	</foreach>
	</insert>
	
	<insert id="regStudyGroup2" parameterType="java.util.List">
		<foreach collection="list" item="list"><!--  separator=";" -->
    		INSERT INTO STUDY_GROUP(GROUPID, PKGID, MEMBERID, GROUPMEM, STUDYSTARTDATE, STUDYENDDATE)
    		VALUES (#{list.groupid}, #{list.pkgId}, #{list.memberID}, #{list.groupMem}, #{list.studyStartDate}, #{list.studyEndDate})
    	</foreach>
	</insert>
	
	<select id="getSubList2" resultType="com.geomin.VO.contentVO">
select DISTINCT    
    p.pkgName
FROM 
    package p
JOIN
    PKGSUBSDETAIL D
ON  
    P.pkgId = D.pkgId
JOIN
    member m
ON 
    D.memberID = m.memberID
LEFT JOIN
    study_group g
ON
    D.pkgId = g.pkgId
WHERE 
    p.elimination = 'N' AND m.mType = 'T' AND m.memberID = #{memberId}

	</select>
	<delete id="delStudyGroup">
		 DELETE 
		 	
		 FROM 
		 
		 PKGSUBSDETAIL 
		 
		 WHERE pkgName = #{pkgName} <!-- and memberId = #{memberID} -->
	</delete>
</mapper>