<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geomin.mapper.teacherMapper">
  	
  	<select id='contentList' resultType='com.geomin.VO.memberVO'>
			select distinct g.sName, TO_CHAR(TO_DATE('20'||g.groupResDate), 'YYYY-MM-DD HH:MM:SS') groupResDate
			        , decode(g.groupjoinStatus, 'Y', '승인', 'N', '미승인','') joinStatus
			        , p.pkgname
			        , m.memail, m.mphone, m.mbirthdate, 
			        g.groupid
			        , s.curpersonnel||'명'||'/'||s.personnel||'명' person
			from package p, pkgsubsDetail s, groupStudent g, member m
			where p.pkgid = g.pkgid
			and m.memberid = g.memberid
			and p.pkgid = s.pkgid
  	</select>

  	<select id='contentOne' resultType='com.geomin.VO.memberVO'>
  		select distinct g.sName, TO_CHAR(TO_DATE('20'||g.groupResDate), 'YYYY-MM-DD HH:MM:SS') groupResDate
			        , decode(g.groupjoinStatus, 'Y', '승인', 'N', '미승인','') joinStatus
			        , p.pkgname
			        , m.memail, m.mphone, m.mbirthdate, 
			        g.groupid
			        , s.curpersonnel||'명'||'/'||s.personnel||'명' person
			from package p, pkgsubsDetail s, groupStudent g, member m
			where p.pkgid = g.pkgid
			and m.memberid = g.memberid
			and p.pkgid = s.pkgid
			and p.pkgname = #{pkgname} 
  	</select>

</mapper>